<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @business.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @business.zip %>
</p>

<p>
  <strong>User:</strong>
  <%= @business.user %>
</p>

<p>
  <strong>Order:</strong>
  <%= @business.order %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
